.container--404__h1 {
  margin: 0;
  font-size: 4em;
  line-height: 1;
  letter-spacing: -1px;
}

.header {
  height: 300px;
}

.header--lanki {
  background: url('../images/lanki.jpg') center;
}

.header--long-beach {
  background: url('../images/long_beach_1280.jpg') center;
}

.header--pynell {
  background: url('../images/pynell.jpg') center;
}

.main__h2 {
  text-align: center;
}

.intro {
  border-bottom: 5px solid #FF4353;
  padding-bottom: 20px;
  text-align: center;
}

.main__content {
  padding: 20px 0;
}

.main__blog {
  padding: 20px;
}

.contact {
  border-top: 5px solid #FF4353;
  padding-top: 20px;
}

.btn {
  border: 3px solid black;
  display: inline-block;
  margin-top: 15px;
  padding: 10px;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

.nav__item {
  margin: 0 10px;
}

.nav__link {
  text-decoration: none;
}

.nav__link:hover {
  color: #000;
  text-decoration: underline;
}

.blog__current {
  background-color: #000531;
  color: #fff;
}
